
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            
            <li id="index">
                <a href="/"><i class="fa fa-dashboard"></i> <span class="nav-label">仪表盘</span><span
                        class="label label-info pull-right"></span></a>
            </li>

                <li>
                    <a><i class="fa fa-cubes"></i> <span class="nav-label">EzWaf</span><span
                            class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                    <li class="asset"><a href="/show/cc">cc攻击拦截</a></li>
                                    <li class="asset"><a href="/show/ban" >ip黑名单</a></li>
                                </ul>
                </li>

        </ul>
    </div>
</nav>
<script src="/static/js/custom/bar.js"></script>

