
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="profile-element">
                    <div href="#" target="_blank" style="width: 100%;">
                         <img alt="logo" height="95" width="185" src="/static/img/logo_text.png">
                    </div>
                </div>
                <div class="logo-element">
                    <img alt="image" height="40" src="/static/img/logo.png">
                </div>
            </li>

            <li id="index">
                <a href="/ezwaf"><i class="fa fa-dashboard"></i> <span class="nav-label">仪表盘</span><span
                        class="label label-info pull-right"></span></a>
            </li>

            <li>
                <a><i class="fa fa-cubes"></i> <span class="nav-label">EzWaf</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="asset"><a href="/ezwaf/cc">cc攻击拦截</a></li>
                        <li class="asset"><a href="/ezwaf/ban">ip黑名单</a></li>
                        <li class="asset"><a href="/ezwaf/urls">URL过滤</a></li>

                    </ul>
            </li>

            <li>
                <a><i class="fa fa-gears"></i> <span class="nav-label">其他</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li class="asset"><a href="/ezwaf/settings">设置</a></li>
                        <li class="asset"><a href="/ezwaf/admin">后台管理</a></li>
                    </ul>
            </li>

        </ul>
    </div>
</nav>
<script src="/static/js/custom/bar.js"></script>

